<div class="container__big_card">
    <div class="big-card__photo">
        <img
            src="https://walpaper.es/wallpaper/2015/11/wallpaper-gratis-de-un-espectacular-paisaje-en-color-azul-en-hd.jpg"
            alt=""
            height="200px"
            width="100%"
            srcset=""
        >
    </div>

    <div class="big-card__title">
        <h1>
            <a href="#">Saiu a nova versão do Angular</a>
        </h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="#">
                teste teste teste teste
            </a>
        </p>
    </div>
</div>