<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles_main">
        <app-big-card
            id="1"
            photoCover="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/21_Angular-1024.png"
            cardTitle="Saiu a nova versão do Angular"
            cardDescription="Versão do Angular 9.0 saiu..."
        >
        </app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card
            id="2"
            photoCover="https://cdn.adioma.com/assets/post_infographics/depart/angular.png"
            cardTitle="Estrutura do Angular"
        >
        </app-small-card>

        <app-small-card
            id="3"
            photoCover="https://th.bing.com/th/id/OIP.GQp0LFN9JU2MOyosALw4oQAAAA?rs=1&pid=ImgDetMain"
            cardTitle="Angular JS"
        >
        </app-small-card>
        
        <app-small-card
            id="4"
            photoCover="https://s3-us-west-2.amazonaws.com/angular-templates/imgs/angularmeta.png"
            cardTitle="Angular world"
        >
        </app-small-card>
    </div>
</div>